.App {
  text-align: center;
}

.poster, form {
  border: 5px solid black;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.form-control {
  display: inline-block;
  margin: 10px;
}

.show-bounty {
  padding: 15px;
  background-color: #fed;
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
}
