.App {
  text-align: center;
}

.poster, form {
  border: 5px solid black;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.form-control {
  display: inline-block;
  margin: 10px;
}

/*form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}*/
